__pycache__/
.ipynb_checkpoints/
# ignore all videos
*.MOV
*.MP4
# ignore Apple Desktop Services Stores
*.DS_Store
# ignore virtual environment
.venv

#ignore IMU comparison recordings
data/ZMvsAxivity/
#ignore smartwatch recrding
data/Hxx1/
#ignore test recordings
data/CreateStudy/Hxx2/
data/CreateStudy/Hxx3/

#ignore all data for pitch analysis
data/pitch_analysis/

#ignore all CreateStudy data (ethics only allows local and NAS storage)
data/CreateStudy/

#ignore pickle files
*.pkl